$dark: #111117;
$accent: #eeffa1;
$white: #e3e3ed;

$white-hover-background: rgba($white, 0.1);
$line: #414145;

$info: #8edbff;
$warn: #f7f720;
$success: #3fff4f;

$red-tag: #f71111;
$yellow-tag: #f7eb11;
$green-tag: #4ef711;
$purple-tag: #8f11f7;
$blue-tag: #113ff7;
$orange-tag: #f78811;
