@use './colors';
@use './shadows';

@mixin accent-tiny-scrollbar($color: colors.$accent) {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    box-shadow: shadows.glow($color);
    border-radius: 2px;
    border: none;
  }
}

@mixin accent-scrollbar($color: colors.$accent) {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    box-shadow: shadows.glow($color);
    border-radius: 4px;
    border: none;
  }
}
