// # navigation
$desktop-navigation-width: 22rem;
$desktop-retracted-navigation-width: 4.3rem;

$desktop-gap: 1rem;
$mobile-gap: 0.5rem;
$desktop-lite-gap: 0.5rem;
$mobile-lite-gap: 0.4rem;

$desktop-main-padding: 3rem;
$mobile-main-padding: 1.5rem;
$desktop-lite-padding: 1.5rem;
$mobile-lite-padding: 0.75rem;
$desktop-micro-padding: 0.8rem;
$mobile-micro-padding: 0.4rem;
